.banner{
    width:100%;
    height: 400px;
    background: white url(../images/home-banner.jpg) no-repeat center/cover;
}
.title{
    margin-top:20px;
}
.piece{
    font-size: 2em;
    color: darkolivegreen
}
.icon{
    font-size: 2em;
    color: cadetblue
}
.body{
    color: black
}
.pic{
    font-size: 2em;
    color:red
}
.emoji{
    font-size: 2em;
    color:blue
}
.center{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%; */
    width:100%
}
.middle{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;   */
    max-width: 300px;
    width:100%;
}
.cool{
    font-size: 2em;
    color: gray
}
footer{
    background:gray;
    padding:30px 0;
    text-align: center;
    color:black;
    margin-top: 30px;
    font-size: 14px;
}
.protect-list li{
    margin:15px auto;
}
.ordered-list li{
    margin:4px auto;
}
@media screen and (max-width: 767px){
    .banner{
        background: white url(../images/home-banner.jpg) no-repeat 25%/cover;
    }   
}
@media screen and (max-width: 480px){
    .banner{
        background: white url(../images/home-banner.jpg) no-repeat 28%/cover;
    }   
}
/* Sidebar Navigation */
.nav-container{
    margin-top:30px;
}
.nav-container ul {
    list-style: none;
}
.nav-container li {
    padding-top:10px ;
    padding-bottom:10px;
    padding-left:10px;
    padding-right: 5px; 
    border-top:1px dashed #ddd;
    border-left:3px solid transparent; 
    transition: border-left .3s ease-in-out;
}
.nav-container li:last-child {
    border-bottom:1px dashed #ddd;
}
.nav-container li:hover{
    border-left:3px solid blueviolet; 
}

.nav-container a {
    font-size: 20px;
    color:grey;
    transition: color .3s ease-in-out;
}
.nav-container a:hover {
    text-decoration: none;
    color:blueviolet;
}
/* style list on active */
.nav-container li.active{
    border-left:3px solid blueviolet; 
}
.nav-container li.active a{
    color:blueviolet;
    font-weight: bold;
}

/*scroll top btn*/
#scrolltop-btn{
    position: fixed;
    right: 20px;
    bottom: 8px;
    z-index: 99;
    font-size: 40px;
    color:orange;
}
.update-status{
    background: orchid;
    padding:20px 0;
}
.update-status .row{
    justify-content: space-around;
    margin-top:20px;
}
.update-status .box{
    padding:10px;
    border-radius: 20px;
    flex:0 0 22%;
}

.update-status .box:first-child{
    background:orangered;
}
.update-status .box:nth-child(2){
    background:cyan;
}
.update-status .box:nth-child(3){
    background:lightgreen;
}
.update-status .box:last-child{
    background:gray;
}
@media screen and (max-width:767px){
    .update-status .box{
        flex:0 0 48%;
        margin-top:30px;
    }
    .update-status .row{
        margin-top:0;
    }
}